*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ahmet';
    src: url(./Ahmet\ Altun\ \ HalisGRBold.woff);
}

@font-face {
    font-family: 'ahmet-bold';
    src: url(./Ahmet\ Altun\ \ HalisGRBold.woff);
}

body{
    font-family: 'ahmet-bold', sans-serif;
    min-height: 100vh;
    height: auto;
}


.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7rem;
}

.logo{
    cursor: pointer;
}

.itens{
    display: flex;
    justify-content: center;
    align-items: center;
}

.itens a{
    font-size: 11px;
    text-decoration: none;
    color: #000;
    padding-top: 1rem;
    margin-right: 2rem;
    font-weight: bold;
}

.icons span{
    padding-top: 0.5rem;
    margin-right: 2.5rem;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.image {
    flex: 1 1 25%;
    max-width: 31%;
    padding: 10px;
}
.image img {
    width: 100%;
    height: auto;
    display: block;
}

.icons i{
    display: none;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.social-icons{
    display: flex;
    gap: 15px;
    margin-top: 1.2rem;
}
.social-icons i {
    color: #666;
    position: relative;
    top: -1.6rem;
    left: 4rem;
    font-size: 19px;
    text-decoration: none;
    cursor: pointer;
    transition: .6s ease;
}

.social-icons i:hover{
    color: #000;
}

.footer-links {
    display: flex;
    gap: 20px;
    margin-top: -2rem;
    padding-right: 5rem;
    font-size: 13px;
    color: #666;
}
.footer-links a{
    text-decoration: none;
    color: #666;
    font-size: 11px;
    transition: .6s ease;
}

.footer-links a:hover{
    color: #000;
}


@media (max-width: 1200px) {
    
    body{
        overflow-y: auto;
    }
    
    .image {
        flex: 1 1 50%;
        max-width: 40%;
    }


    .topbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .icons i{
        padding-top: 0.5rem;
        display: block;
    }

    .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
    }

    .icons span{
        margin-right: 1.5rem;
    }

    #text{
        display: none;
    }

    .footer-links{
        display: none;
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-icons i{
        position: sticky;
        padding-bottom: 2rem;
    }
}

@media (max-width: 1024px) {
    
    body{
        overflow-y: auto;
    }
    
    .image {
        flex: 1 1 50%;
        max-width: 43%;
    }


    .topbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .icons i{
        padding-top: 0.5rem;
        display: block;
    }

    .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
    }

    .icons span{
        margin-right: 1.5rem;
    }

    #text{
        display: none;
    }

    .footer-links{
        display: none;
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-icons i{
        position: sticky;
    }
}


@media (max-width: 768px) {
    
    body{
        overflow-y: auto;
    }
    
    .image {
        flex: 1 1 50%;
        max-width: 50%;
    }


    .topbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .icons i{
        padding-top: 0.5rem;
        display: block;
    }

    .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
    }

    .icons span{
        margin-right: 1.5rem;
    }

    #text{
        display: none;
    }

    .footer-links{
        display: none;
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-icons i{
        position: sticky;
    }
}
